

<div class="container">
  <div [hidden]="submitted">
    <h1 id="tableLabel">Criar uma nova lista de Estudos</h1>
    <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title"
                  required
                  placeholder="Insira um título para o Quiz"
                  [(ngModel)]="game.Title" name="Title"
                  #Title="ngModel">
            <div [hidden]="Title.valid || Title.pristine"
                class="alert alert-danger">
                Title is required
            </div>
         </div>

          <div class="form-group col-sm-6">
            <label for="User">User</label>
            <input type="text" class="form-control" id="User"
                  required
                  placeholder="Insira o nome do Autor"
                  [(ngModel)]="game.User" name="User"
                  #User="ngModel">
            <div [hidden]="User.valid || User.pristine"
                class="alert alert-danger">
                User is required
            </div>
          </div>
        </div>

        <div style="margin-top: 10px">
          <div class="custom-file">
            <input
              type="file"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              class="custom-file-input"
              id="customFile"
              (change)="onChange($event)"

            />
            <label class="custom-file-label" for="customFile" id="customFileLabel"
              >Selecionar Arquivo</label
            >
          </div>
          <div class="progress" >
            <div
              class="progress-bar"
              role="progressbar"
              [style.width]="progress + '%'"
            >
              {{ progress }}%
            </div>
          </div>
        </div>

        <button class="btn btn-success" style="margin-top: 15px;padding-left:35px;" type="submit"  [disabled]="!(gameForm.form.valid && changeFile)">
          <div [hidden]="!loading">
            <span class="sr-only"></span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span>
          </div>
        Submit</button>

        <!-- <button type="submit" style="margin-top: 15px" class="btn btn-success" [disabled]="!gameForm.form.valid">Submit</button> -->

      </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ game.Title }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ game.User }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

<div class="alert alert-success" style="margin-top: 60px" role="alert"><i class="bi bi-filetype-exe"></i>
 O arquivo deve conter no minimo duas colunas, sendo que a primeira é responsável por conter as perguntas do Quiz.
 Já a segunda, ficará responsável por conter a resposta correta.
 Quanto as demais colunas, servirão para alternativas
</div>

<img src="assets/img/exemple.jpg" class="img-fluid" alt="Exemple">









