<h1 id="tableLabel">Criar uma nova lista de Estudos</h1>


<div class="row">
  <div class="col">
    <label for="Title" class="form-label">Título</label>
    <input type="text" id="title" class="form-control"  placeholder="Insira um título para o Quiz" required aria-label="Título">
  </div>
  <div class="col">
    <label for="User" class="form-label">Usuário</label>
    <input type="text" id="user" class="form-control" placeholder="Nome do Usuário" aria-label="Usuário">
  </div>
</div>

<div style="margin-top: 10px">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="customFile"
      (change)="onChange($event)"

    />
    <label class="custom-file-label" for="customFile" id="customFileLabel"
      >Selecionar Arquivo</label
    >
  </div>
  <div class="progress" >
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="progress + '%'"
    >
      {{ progress }}%
    </div>
  </div>
</div>
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files" >
    Criar
  </button>
</div>
<div style="margin-top: 10px">
  <!-- <button type="button" class="btn btn-primary" (click)="onDownloadExcel()">
    Download Excel
  </button>
  <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">
    Download PDF
  </button> -->
</div>

<div class="alert alert-success" style="margin-top: 60px" role="alert"><i class="bi bi-filetype-exe"></i>
 O arquivo deve conter duas colunas, sendo que a primeira é responsável por conter as perguntas do Quiz e a segunda, ficará responsável por conter as respostas.
</div>

<img src="assets/img/exemple.jpg" class="img-fluid" alt="Exemple">
